body {
  background: no-repeat;
  background-image: url(../img/academia1.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.imagge {
  width:100px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 100%;
}


.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 110%;
    left: 50%;
    max-width: 500px;
    background: rgb(124, 122, 120);
    background: linear-gradient(0deg, rgb(207, 203, 203)0%, rgb(201, 196, 192)100% );
    border-radius: 40px;
    padding: 35px 07px;
    border: 100px solid rbg(255, 255, 255);
    box-shadow: rgba(172, 108, 36, 0.878) 0px 30px 30px -20px;
    margin: 20px;
    }
    .bonito{
    padding: 30px;
    margin: 20px;
    }
    /* CSS */
    .button-62 {
      background: linear-gradient(to bottom right, #312b28, #FF9A5A);
      border: 0;
      border: 0;
      border-radius: 12px;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 2.5;
      outline: transparent;
      padding: 0 1rem;
      text-align: center;
      text-decoration: none;
      transition: box-shadow .2s ease-in-out;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
    }
    
    .button-62:not([disabled]):focus {
      box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    }
    
    .button-62:not([disabled]):hover {
      box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    }

    .heading {
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    color: rgb(73, 61, 55);
    }
    .form{
        margin: top 40px;;
    }
    .form .input {
        width: 85%;
        background: rgb(255, 255, 255);
        border: none;
        padding: 15px 20px;
        border-radius: 20px;
        margin-top: 15px;
        box-shadow: #b96b21 0px 10px 10px -5px;
        border-inline: 2px solid transparent;
    }
    .form .input::-moz-placeholder {
        color: rgb(170, 170, 170);
    }
    .login-button {
        color: #b96b21;
        box-shadow: #b96b21;
    }

  @media screen and (max-width: 720px){
    .form {
      height: 50rem;
      width: 25rem;
    }
  }

  .error-message {
    color: red;
    font-size: 0.9em;
}